html {
  height: 100%;
  width: 100%;
  background-color: #FF99C8;
  text-align: center;
  justify-content: center;
}
.my-title{
  font-size: 46px;
  color: #FCF6BD;
  text-align:center;
  justify-content: center;
  border: solid 10px;
  border-color:#FCF6BD ;
}
.my-button{
  background-color:#D0F4DE;
  color:#FF99C8;
  font-size:34px;
}
